* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-shadow: -1px -0.5px 2px black;
  background-color: #250055;
}

a, a:visited {
  color: inherit;
  text-decoration: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.delete-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-perspective: 500px;
          perspective: 500px;
}

.delete-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  color: #fff;
  font-size: 30px;
  width: 200px;
  height: 80px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: 1;
}

.delete-first__active {
  opacity: 0;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transform: scale(3.3);
          transform: scale(3.3);
  z-index: 0;
}

.delete-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 670px;
  height: 280px;
  padding: 30px;
  background-color: #fff;
  border: 7px solid red;
  border-radius: 30px;
  text-shadow: none;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.delete-second h1 {
  color: red;
  font-weight: 300;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  opacity: 0;
}

.delete-second p {
  position: relative;
  color: #250055;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  text-align: center;
  padding: 20px;
  top: 50px;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.delete-second .second_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  text-shadow: -1px -0.5px 2px black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.delete-second .second_buttons .second_buttons-no {
  position: relative;
  color: red;
  font-size: 16px;
  font-weight: 600;
  top: 50px;
  width: 200px;
  height: 50px;
  background-color: #fff;
  border: 3px solid red;
  border-radius: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  cursor: pointer;
  opacity: 0;
}

.delete-second .second_buttons .second_buttons-yes {
  position: relative;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  top: 30px;
  width: 200px;
  height: 50px;
  background-color: red;
  border: 3px solid red;
  border-radius: 15px;
  -webkit-box-shadow: 0px 30px 5px -24.5px black;
          box-shadow: 0px 30px 5px -24.5px black;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
  cursor: pointer;
  opacity: 0;
}

.delete-second .second_buttons .second_buttons__active {
  top: 0;
  -webkit-filter: blur(0);
          filter: blur(0);
  opacity: 1;
}

.delete-second__active {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: comingOut 400ms;
          animation: comingOut 400ms;
}

.delete-second__active h1 {
  opacity: 1;
}

.delete-second__active p {
  top: 0;
  opacity: 1;
}

@-webkit-keyframes comingOut {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  95% {
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
  }
}

@keyframes comingOut {
  0% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  95% {
    -webkit-transform: scale(1.005);
            transform: scale(1.005);
  }
}

.rotate_buttons {
  width: 700px;
  margin: 0 auto;
}

.rotate_buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.rotate_buttons-list .rotate_buttons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  cursor: pointer;
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container {
  position: relative;
  width: 160px;
  height: 60px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
          transform: perspective(500px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  background-color: lightskyblue;
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span:nth-child(1) {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span:nth-child(4) {
  -webkit-transform: translateZ(-20px) rotateY(180deg);
          transform: translateZ(-20px) rotateY(180deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span:nth-child(2),
.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span:nth-child(3) {
  width: 40px;
  height: 100%;
  background-color: #127e78;
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(140px);
          transform: rotateY(90deg) translateZ(140px);
}

.rotate_buttons-list .rotate_buttons-item .rotate_buttons-item-container span:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(-20px);
          transform: rotateY(90deg) translateZ(-20px);
}

.rotate_buttons-list .second_btn span:nth-child(1) {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.rotate_buttons-list .second_btn span:nth-child(4) {
  -webkit-transform: translateZ(-20px) rotateY(180deg);
          transform: translateZ(-20px) rotateY(180deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .second_btn span:nth-child(5) {
  height: 40px;
  -webkit-transform: translateY(40px) rotateX(90deg);
          transform: translateY(40px) rotateX(90deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .second_btn span:nth-child(6) {
  height: 40px;
  -webkit-transform: translateY(-20px) rotateX(90deg);
          transform: translateY(-20px) rotateX(90deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .second_btn span:nth-child(2),
.rotate_buttons-list .second_btn span:nth-child(3) {
  width: 40px;
  height: 100%;
  background-color: #127e78;
}

.rotate_buttons-list .second_btn span:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(140px);
          transform: rotateY(90deg) translateZ(140px);
}

.rotate_buttons-list .second_btn span:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(-20px);
          transform: rotateY(90deg) translateZ(-20px);
}

.rotate_buttons-list .third_btn span:nth-child(1) {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.rotate_buttons-list .third_btn span:nth-child(4) {
  background-color: lightseagreen;
}

.rotate_buttons-list .third_btn span:nth-child(5) {
  height: 40px;
  -webkit-transform: translateY(40px) rotateX(90deg);
          transform: translateY(40px) rotateX(90deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .third_btn span:nth-child(6) {
  height: 40px;
  -webkit-transform: translateY(-20px) rotateX(90deg);
          transform: translateY(-20px) rotateX(90deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .third_btn span:nth-child(2),
.rotate_buttons-list .third_btn span:nth-child(3) {
  width: 40px;
  height: 100%;
  background-color: #127e78;
}

.rotate_buttons-list .third_btn span:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(140px);
          transform: rotateY(90deg) translateZ(140px);
}

.rotate_buttons-list .third_btn span:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(-20px);
          transform: rotateY(90deg) translateZ(-20px);
}

.rotate_buttons-list .fourth_btn span:nth-child(1) {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.rotate_buttons-list .fourth_btn span:nth-child(4) {
  background-color: lightseagreen;
}

.rotate_buttons-list .fourth_btn span:nth-child(5) {
  height: 40px;
  -webkit-transform: translateY(40px) rotateX(90deg);
          transform: translateY(40px) rotateX(90deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .fourth_btn span:nth-child(6) {
  height: 40px;
  -webkit-transform: translateY(-20px) rotateX(90deg);
          transform: translateY(-20px) rotateX(90deg);
  background-color: lightseagreen;
}

.rotate_buttons-list .fourth_btn span:nth-child(2),
.rotate_buttons-list .fourth_btn span:nth-child(3) {
  width: 40px;
  height: 100%;
  background-color: #127e78;
}

.rotate_buttons-list .fourth_btn span:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(140px);
          transform: rotateY(90deg) translateZ(140px);
}

.rotate_buttons-list .fourth_btn span:nth-child(3) {
  -webkit-transform: rotateY(90deg) translateZ(-20px);
          transform: rotateY(90deg) translateZ(-20px);
}

.first_btn__active {
  -webkit-transform: perspective(500px) rotateY(-180deg) !important;
          transform: perspective(500px) rotateY(-180deg) !important;
}

.second_btn__active {
  -webkit-transform: perspective(500px) rotateY(-180deg) rotateZ(-360deg) !important;
          transform: perspective(500px) rotateY(-180deg) rotateZ(-360deg) !important;
}

.third_btn__active {
  -webkit-transform: perspective(500px) rotateX(-540deg) !important;
          transform: perspective(500px) rotateX(-540deg) !important;
}

.fourth_btn__active {
  -webkit-transform: perspective(500px) rotateX(360deg) rotateY(-360deg) rotateX(-180deg) rotateZ(-540deg) !important;
          transform: perspective(500px) rotateX(360deg) rotateY(-360deg) rotateX(-180deg) rotateZ(-540deg) !important;
}

@-webkit-keyframes fourthBtn {
  from {
    -webkit-transform: perspective(500px) rotateZ(120deg) rotateX(-60deg) rotateY(360deg) rotateX(210deg) !important;
            transform: perspective(500px) rotateZ(120deg) rotateX(-60deg) rotateY(360deg) rotateX(210deg) !important;
  }
  to {
    -webkit-transform: perspective(500px) rotateZ(90deg) rotateX(-45deg) rotateY(360deg) rotateX(180deg) !important;
            transform: perspective(500px) rotateZ(90deg) rotateX(-45deg) rotateY(360deg) rotateX(180deg) !important;
  }
}

@keyframes fourthBtn {
  from {
    -webkit-transform: perspective(500px) rotateZ(120deg) rotateX(-60deg) rotateY(360deg) rotateX(210deg) !important;
            transform: perspective(500px) rotateZ(120deg) rotateX(-60deg) rotateY(360deg) rotateX(210deg) !important;
  }
  to {
    -webkit-transform: perspective(500px) rotateZ(90deg) rotateX(-45deg) rotateY(360deg) rotateX(180deg) !important;
            transform: perspective(500px) rotateZ(90deg) rotateX(-45deg) rotateY(360deg) rotateX(180deg) !important;
  }
}

.slides {
  position: relative;
  width: 100%;
  padding-top: 50px;
  text-shadow: none;
}

.slides_item {
  position: absolute;
  width: 330px;
  height: 400px;
  margin: 0 auto;
  padding: 70px 40px;
  background-color: #f52749;
  border: 2px solid black;
  border-radius: 10px;
}

.slides_item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slides_item-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px !important;
  height: 250px;
}

.slides_item-main h1 {
  width: 233px;
}

.slides_item-main li {
  padding-bottom: 10px;
}

.slides_item-side {
  position: absolute;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  top: 210px;
  right: -50px;
  width: 170px;
  height: 50px;
}

.current {
  background-color: lightgreen;
  z-index: 3;
}

@-webkit-keyframes slidesAnimatio {}

@keyframes slidesAnimatio {}.slides_item:nth-child(2) {
  top: 80px;
  left: 40px;
  z-index: 2;
}

.slides_item:nth-child(3) {
  top: 110px;
  left: 80px;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */