* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    text-shadow:  -1px -0.5px 2px black;
    background-color: rgb(37, 0, 85);    
}
a, a:visited {
    color: inherit;
    text-decoration: inherit;
}
.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    perspective-origin: center center;
    perspective: 500px;
    // display: none;
}
.delete-first {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #fff;
    font-size: 30px;
    width: 200px;
    height: 80px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 1;    
}

.delete-first__active {
    opacity: 0;
    transition: 0s;
    transform: scale(3.3);
    z-index: 0;
}

.delete-second {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 670px;
    height: 280px;
    padding: 30px;
    background-color: #fff;
    border: 7px solid red;
    border-radius: 30px;
    text-shadow: none;
    transform: scale(0.3);
    transition: 0.3s ease;
    & h1 {
        color: red;
        font-weight: 300;
        transition: 0.2s ease;
        opacity: 0;
    }
    & p {
        position: relative;
        color: rgb(37, 0, 85);
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5em;
        text-align: center;
        padding: 20px;
        top: 50px;
        opacity: 0;
        transition: 0.7s ease;
    }
    & .second_buttons {
        display: flex;
        justify-content: space-between;
        width: 80%;
        text-shadow:  -1px -0.5px 2px black;
        transition: 0.5s ease;
        & .second_buttons-no {
            position: relative;
            color: red;
            font-size: 16px;
            font-weight: 600;
            top: 50px;
            width: 200px;
            height: 50px;
            background-color: #fff;
            border: 3px solid red;
            border-radius: 15px;
            transition: 0.5s ease;
            filter: blur(10px);
            cursor: pointer;
            opacity: 0;
        }
        & .second_buttons-yes {
            position: relative;
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            top: 30px;
            width: 200px;
            height: 50px;
            background-color: red;
            border: 3px solid red;
            border-radius: 15px;
            box-shadow: 0px 30px 5px -24.5px black;
            transition: 0.7s ease;
            filter: blur(10px);
            cursor: pointer;
            opacity: 0;
        }
        & .second_buttons__active {
            top: 0;
            filter: blur(0);
            opacity: 1;
        }
    }
    
}
.delete-second__active {
    transform: scale(1);
    
    animation: comingOut 400ms;    
    & h1 {
        opacity: 1;
    }
    & p {
        top: 0;
        opacity: 1;
    }
}

@keyframes comingOut {
    0% {
        transform: scale(0.3);
    }
    95% {
        transform: scale(1.005);
    }    
}


//////////////// Rotate buttons////////////////
.rotate_buttons {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 400px;
    // display: none;
}
.rotate_buttons-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    & .rotate_buttons-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        cursor: pointer;
       & .rotate_buttons-item-container {
            position: relative;
            width: 160px;
            height: 60px;
            transform-style: preserve-3d;
            transform: perspective(500px);
            transition: 0.7s;
            & span {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 24px;
                background-color: lightskyblue;
            }
            & span:nth-child(1) {
                transform: translateZ(20px);
               
            }
            & span:nth-child(4) {
                transform: translateZ(-20px) rotateY(180deg);
                background-color: lightseagreen;
            }
            & span:nth-child(2), 
              span:nth-child(3) {
                width: 40px;
                height: 100%;
                background-color: rgb(18, 126, 120);
            }
            & span:nth-child(2) {
                transform: rotateY(90deg) translateZ(140px);
            }
            & span:nth-child(3) {
                transform: rotateY(90deg) translateZ(-20px)
            }
        }
    }
    
    & .second_btn {       
        & span:nth-child(1) {
            transform: translateZ(20px);
        }
        & span:nth-child(4) {
            transform: translateZ(-20px) rotateY(180deg);
            background-color: lightseagreen;
        }
        & span:nth-child(5) {
            height: 40px;
            transform: translateY(40px) rotateX(90deg);
            background-color: lightseagreen;
        }
        & span:nth-child(6) {
            height: 40px;
            transform: translateY(-20px) rotateX(90deg);
            background-color: lightseagreen;
        }
        & span:nth-child(2), 
          span:nth-child(3) {
            width: 40px;
            height: 100%;
            background-color: rgb(18, 126, 120);
        }
        & span:nth-child(2) {
            transform: rotateY(90deg) translateZ(140px);
        }
        & span:nth-child(3) {
            transform: rotateY(90deg) translateZ(-20px)
        }
    }

    & .third_btn {
        & span:nth-child(1) {
            transform: translateZ(20px);
           
        }
        & span:nth-child(4) {
            transform: translateZ(-20px) rotateX(180deg) !important;
            // background-color: lightseagreen;
        }
        & span:nth-child(5) {
            height: 40px;
            transform: translateY(40px) rotateX(90deg);
            background-color: lightseagreen;
        }
        & span:nth-child(6) {
            height: 40px;
            transform: translateY(-20px) rotateX(90deg);
            background-color: lightseagreen;
        }
        & span:nth-child(2), 
          span:nth-child(3) {
            width: 40px;
            height: 100%;
            background-color: rgb(18, 126, 120);
        }
        & span:nth-child(2) {
            transform: rotateY(90deg) translateZ(140px);
        }
        & span:nth-child(3) {
            transform: rotateY(90deg) translateZ(-20px)
        }
    }

    & .fourth_btn {
        & span:nth-child(1) {
            transform: translateZ(20px);           
        }
        & span:nth-child(4) {
            transform: translateZ(-20px) rotateY(180deg);
            background-color: lightseagreen;
        }
        & span:nth-child(5) {
            height: 40px;
            transform: translateY(40px) rotateX(90deg);
            background-color: lightseagreen;
        }
        & span:nth-child(6) {
            height: 40px;
            transform: translateY(-20px) rotateX(90deg);
            background-color: lightseagreen;
        }
        & span:nth-child(2), 
          span:nth-child(3) {
            width: 40px;
            height: 100%;
            background-color: rgb(18, 126, 120);
        }
        & span:nth-child(2) {
            transform: rotateY(90deg) translateZ(140px);
        }
        & span:nth-child(3) {
            transform: rotateY(90deg) translateZ(-20px)
        }        
    }    
}

.first_btn__active {
    transform: perspective(500px) rotateY(-180deg) !important;
}
.second_btn__active {
    transform: perspective(500px) rotateY(-180deg)  rotateZ(-360deg) !important;
}
.third_btn__active {
    transform: perspective(500px) rotateX(-540deg)   !important;
}
.fourth_btn__active {
    transform: perspective(500px)  rotateX(360deg) rotateY(-360deg) rotateX(-180deg) rotateZ(-540deg) !important;
    // animation-name: fourthBtn !important;
    // animation-duration: 500ms;
    
}

@keyframes fourthBtn {
    from {
        transform: perspective(500px) rotateZ(120deg) rotateX(-60deg) rotateY(360deg) rotateX(210deg) !important;
    }
    to {
        transform: perspective(500px) rotateZ(90deg) rotateX(-45deg) rotateY(360deg) rotateX(180deg) !important;
    }
}


///////////////// Card slider //////////////////


.slides {
    position: relative;
    width: 400px;
    height: 700px;
    margin: 0 auto;
    padding-top: 50px;
    text-shadow: none;
    &_item {
        position: absolute;
        width: 330px;
        height: 400px;
        margin: 0 auto;
        padding: 70px 40px;
        background-color: rgb(245, 39, 73);
        border: 2px solid black;
        border-radius: 10px;
        transition: 0.2 ease;
        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-main {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 300px !important;
            height: 250px;
            & h1 {
                width: 233px;
            }
            & li {
                padding-bottom: 10px;
            }
        }
        &-side {
            position: absolute;
            transform: rotateZ(90deg) ;
            top: 210px;
            right: -50px;
            width: 170px;
            height: 50px;
        }
    }    
}

.current {
    background-color: lightgreen;
    z-index: 3;
}

@keyframes firstSlideAnimation {    
    16.5% {
        z-index: 3;
        transform: translateY(-400px) translateX(-10px);
    }
    17% {
        z-index: 0;
    }
    33% {
        z-index: 0;
        background-color: rgb(245, 39, 73);
        transform: translateY(60px) translateX(80px);
    }    
    66% {
        z-index: 1;
        transform: translateY(30px) translateX(40px);
    }
    70%{
        z-index: 2;
        background-color: rgb(245, 39, 73);
    }
    // 75% {
    //     z-index: 2;
    // }
    100% {
        background-color: lightgreen;

    }
}
@keyframes secondSlideAnimation {
    33% {
        z-index: 2;
        background-color: lightgreen;
        transform: translateY(-30px) translateX(-40px);
    }
    49% {
        z-index: 2;
        transform: translateY(-430px) translateX(-50px)        
    }
    50%{
        z-index: 0;
    }
    66% {
        z-index: 0;
        background-color: rgb(245, 39, 73);
        transform: translateY(30px) translateX(40px);
    }
    100% {
    }
    
    
}
@keyframes thirdSlideAnimation {
    
    33% {
        z-index: 1;
        background-color: rgb(245, 39, 73);
        transform: translateY(-30px) translateX(-40px);
    }
    66% {
        z-index: 1;
        background-color: lightgreen;
        transform: translateY(-60px) translateX(-80px);
    }
    72% {
        z-index: 3;
    }
    82% {
        z-index: 3;
        // background-color: lightgreen;
        transform: translateY(-460px) translateX(-90px);
    }
    85% {
        z-index: 1;
    }
    100% {
    }
}

.first-slide {
    animation: firstSlideAnimation  6000ms infinite;
}
.second-slide {
    animation: secondSlideAnimation 6000ms infinite;
}
.third-slide {
    animation: thirdSlideAnimation  6000ms infinite;
}
.first-slide {
    z-index: 3;
}
.second-slide {
    top: 80px;
    left: 40px;
    z-index: 2;
}
.third-slide {
    top: 110px;
    left: 80px;
    z-index: 1;
}

.slides:hover {
    animation: none;
}